<!DOCTYPE html>
<html>
<head>
	<title>IRIS Model prediction</title>
</head>
<body bgcolor='lightblue'>
	<h1>This is IRIS data classification</h1>
	<form action ="/predict" method = "post" >
	<label for = 'sepal_length'> Sepal Length </label>
	<input type = 'text' id = 'sepal_length' name = 'sepal_length'><br><br>
	<label for = 'sepal_width'> Sepal width </label>
	<input type = 'text' id = 'sepal_width' name = 'sepal_width'><br><br>  
	<label for = 'petal_length'> Petal Length </label>
	<input type = 'text' id = 'petal_length' name = 'petal_length'><br><br>
	<label for = 'petal_width'> petal width</label>
	<input type = 'text' id = 'petal width' name = 'petal width'><br><br>
	<input type = 'submit' value='predict'>
	</form>
</body>
</html>